[Unit]
Description=YouTube Live
After=network.target

[Service]
ExecStart=/home/pi/.local/bin/yt-live "${BROADCAST_TITLE}"
Restart=no

[Install]
WantedBy=default.target
